<footer class="text-center text-lg-start bg-light">

    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">

            <div class="row mt-3">

                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <img src="https://res.cloudinary.com/startup-grind/image/upload/dpr_2.0,fl_sanitize/v1/gcs/platform-data-goog/contentbuilder/logo_dark_MvY7VhA.svg"
                        alt="" srcset="" width="300px">
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                   
                    <h6 class="">
                        Quick Links
                    </h6>
                    <ul class="arrow-list">
                        <li><a href=""> Chapters
                            </a></li>
                        <li><a href="">Upcoming Events
                            </a></li>
                        <li><a href="">Participation Terms
                            </a></li>
                        <li><a href="">Privacy
                            </a></li>
                        <li><a href=""> Terms
                            </a></li>
                        <li><a href="">Organizer Terms & Conditions</a></li>
                    </ul>


                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 socials">

                    <h6>Socials</h6>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                </div>

            </div>
            <section>
                <div class="row ">
                    <div class="col-12 d-flex justify-content-between">
                        <div>
                            <p><i class="fa fa-copyright"></i> 2023 Google: Upcoming Events</p>
                        </div>
                        <div>
                            <p>Powered by <i class="fa fa-bevy"></i></p>
                        </div>
                    </div>
                    
                </div>
            </section>
        </div>
    </section>



</footer>