.arrow-list {
    list-style-type: none;
    padding-left: 0px !important;
}


footer h6{
    color:#5f6368;
}

.socials i{
    font-weight: normal;
    
}

footer ul li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

footer ul li ::before {
    content: ">";
    color: black;
    margin: 0 5px 0 -15px;
    text-decoration: none;
    font-size: 17px;
  }
  .endFooter{
    font-size:smaller ;
  }
  .wm
  {
    width:max-content;
  }
  @media only screen and (max-width:700px)
 {
    .wm{
        width:50%;
      }
 }