<section class="devfest-footer bg-white  footer-two">
    <div class="container">
        <div class="row py-2 justify-content-between">
            <div class="col-lg-8">
                <ul class="my-auto">

                    <li class="google-sans-regular text-dim font-lg">
                        <a target="_blank" href="https://developers.google.com/community/devfest"> GDG Chandigarh </a>
                    </li>
                    <li class="google-sans-regular">
                        <a target="_blank" href="https://gdg.community.dev/"> Chapters </a>
                    </li>
                    <li class="google-sans-regular">
                        <a target="_blank" href="https://developers.google.com/events"> Upcoming Events </a>
                    </li>
                    <li class="google-sans-regular">
                        <a target="_blank" href="https://gdg.community.dev/participation-terms/"> Participation Terms </a>
                    </li>
                    <li class="google-sans-regular">
                        <a target="_blank" href="https://policies.google.com/privacy">  Privacy  </a>
                    </li>
                    <li class="google-sans-regular">
                        <a target="_blank" href="https://gdg.community.dev/gdg-program-terms-conditions/">Organizer Terms & Conditions</a>
                    </li>


                </ul>
            </div>
            <div class="col-lg-4">
                <ul class="my-auto socio-list">
                    <li class="google-sans-regular text-dim font-lg">
                        <a target="_blank" href="https://developers.google.com/community/devfest">Follow Us : </a>
                    </li>
                    <li class="google-sans-regular">
                        <a target="_blank" href="https://www.instagram.com/gdgchandigarh"><i
                                class="fa fa-instagram"></i>
                        </a>

                    </li>
                    <li class="google-sans-regular">
                        <a target="_blank" href="https://www.youtube.com/@gdgchandigarh1203"><i
                                class="fa fa fa-youtube"></i>
                        </a>

                    </li>
                    <li class="google-sans-regular">
                        <a target="_blank" href="https://www.facebook.com/gdgchd/"><i
                                class="fa fa fa-facebook"></i>
                        </a>

                    </li>
                    <li class="google-sans-regular">
                        <a target="_blank" href="https://www.linkedin.com/company/gdg-chandigarh/"><i
                                class="fa fa fa-linkedin"></i>
                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>