<section class="past-events">
    <div class="container">
        <div class="row">
            <p
                class="section-title display-5 google-sans-bold d-flex justify-content-center my-3 pb-2 google-sans-bold ">
                Past events
            </p>
        </div>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let event of pastEvents">
                <div class="card-content py-3">
                    <div class="card-container d-flex justify-content-center">
                        <img [src]="event.image" alt="" class="card-image ">
                    </div>
                    <div class="row">
                        <div class="col-12 mt-4">
                            <p class="google-sans-regular">{{ event.date }} 
                                <br>
                           <strong class="google-sans-bold"> {{ event.type }}</strong> <br>
                                {{ event.name }}</p>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>