<section class="devfest-footer bg-white container-fluid">
    <!-- <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4">
              <ul>
                  <li class="heading-list google-sans-bold">
                      Connect
  
                  </li>
                  <li class="google-sans-regular">
                      Blog
  
                  </li>
                  <li class="google-sans-regular">
                      Instagram
  
                  </li>
                  <li class="google-sans-regular">
                      LinkedIn
  
                  </li>
                  <li class="google-sans-regular">
                      Twitter
  
                  </li>
                  <li class="google-sans-regular">
                      YouTube
                  </li>
              </ul>
          </div>
          <div class="col-lg-4">
              <ul>
                  <li class="heading-list google-sans-bold">
                      Women Techmakers
                     
  
                  </li>
                  <li class="google-sans-regular">
                      Google Developer Groups
                     
  
                  </li>
                  <li class="google-sans-regular">
                      Google Developer Experts
                     
  
                  </li>
                  <li class="google-sans-regular">
                      Accelerators
                     
  
                  </li>
                  <li class="google-sans-regular">
                      Google Developer Student Clubs
  
                  </li>
              </ul>
          </div>
          <div class="col-lg-4">
              <ul>
                  <li class="heading-list google-sans-bold">
                      Developer consoles
  
  
                  </li>
                  <li class="google-sans-regular">
                      Google API Console
  
                  </li>
                  <li class="google-sans-regular">
                      Google Cloud Platform Console
  
                  </li>
                  <li class="google-sans-regular">
                      Google Play Console
  
  
                  </li>
                  <li class="google-sans-regular">
                      Firebase Console
  
                  </li>
                  <li class="google-sans-regular">
                      Actions on Google Console
  
                  </li>
                  <li class="google-sans-regular">
                      Cast SDK Developer Console
  
                  </li>
                  <li class="google-sans-regular">
                      Chrome Web Store Dashboard
                  </li>
              </ul>
          </div>
      </div>
    </div> -->
    <div class="row footer-two py-2">
        <div class="col-lg-8">
            <ul class="my-auto">

                <li class="google-sans-regular">
                    <a target="_blank" href="https://developers.google.com/community/devfest"> DevFest 2023 </a>
                </li>
                <li class="google-sans-regular">
                    <a target="_blank" href="https://developers.google.com/community/gdg"> About GDG Program </a>

                </li>
                <li class="google-sans-regular">
                    <a target="_blank" href="https://developers.google.com/womentechmakers"> About WTM Program </a>

                </li>
                <li class="google-sans-regular">
                    <a target="_blank" href="https://developers.google.com/community-guidelines"> Community
                        Guidelines </a>

                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul class="my-auto socio-list">
                <li class="google-sans-regular text-dim font-lg">
                    <a target="_blank" href="https://developers.google.com/community/devfest">Follow Us : </a>
                </li>
                <li class="google-sans-regular">
                    <a target="_blank" href="https://www.instagram.com/gdgchandigarh"><i
                            class="fa fa-instagram"></i>
                    </a>

                </li>
                <li class="google-sans-regular">
                    <a target="_blank" href="https://www.youtube.com/@gdgchandigarh1203"><i
                            class="fa fa fa-youtube"></i>
                    </a>

                </li>
                <li class="google-sans-regular">
                    <a target="_blank" href="https://www.facebook.com/gdgchd/"><i
                            class="fa fa fa-facebook"></i>
                    </a>

                </li>
                <li class="google-sans-regular">
                    <a target="_blank" href="https://www.linkedin.com/company/gdg-chandigarh/"><i
                            class="fa fa fa-linkedin"></i>
                    </a>

                </li>
            </ul>
        </div>
    </div>
</section>