<section class="devfest-footer bg-white">
    <div class="row d-flex justify-content-between google-sans-regular">
        <div class="col-lg-3">
            <ul>
                <li class="heading-list">
                    Connect

                </li>
                <li>
                    Blog

                </li>
                <li>
                    Instagram

                </li>
                <li>
                    LinkedIn

                </li>
                <li>
                    Twitter

                </li>
                <li>
                    YouTube
                </li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul>
                <li class="heading-list">
                    Women Techmakers


                </li>
                <li>
                    Google Developer Groups


                </li>
                <li>
                    Google Developer Experts


                </li>
                <li>
                    Accelerators


                </li>
                <li>
                    Google Developer Student Clubs

                </li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul>
                <li class="heading-list">
                    Developer consoles


                </li>
                <li>
                    Google API Console

                </li>
                <li>
                    Google Cloud Platform Console

                </li>
                <li>
                    Google Play Console


                </li>
                <li>
                    Firebase Console

                </li>
                <li>
                    Actions on Google Console

                </li>
                <li>
                    Cast SDK Developer Console

                </li>
                <li>
                    Chrome Web Store Dashboard
                </li>
            </ul>
        </div>
    </div>
    <div class="row footer-two px-2">
        <ul>
            <li class="logo-footer">
                DevFest 2023
            </li>
            <li>
                Android

            </li>
            <li>
                Chrome

            </li>
            <li>
                Firebase

            </li>
            <li>
                Google Cloud Platform

            </li>
            <li>
                All products
            </li>
        </ul>
    </div>
    <div class="row subscribe">
        <div class=" d-flex justify-content-between px-4 py-2">
            <div class="terms google-sans-regular">
                Terms | Privacy
            </div>
            <div class="subscribe google-sans-regular">
                Sign up for the Google for Developers newsletter
                <button class="btn btn-primary btn-sm rounded-0">Subscribe <i class="fa fa-globe"></i></button>
            </div>
        </div>
    </div>
</section>