<section class="devfest-footer bg-white container-fluid">
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4">
              <ul>
                  <li class="heading-list google-sans-bold">
                      Connect
  
                  </li>
                  <li class="google-sans-regular">
                      Blog
  
                  </li>
                  <li class="google-sans-regular">
                      Instagram
  
                  </li>
                  <li class="google-sans-regular">
                      LinkedIn
  
                  </li>
                  <li class="google-sans-regular">
                      Twitter
  
                  </li>
                  <li class="google-sans-regular">
                      YouTube
                  </li>
              </ul>
          </div>
          <div class="col-lg-4">
              <ul>
                  <li class="heading-list google-sans-bold">
                      Women Techmakers
                     
  
                  </li>
                  <li class="google-sans-regular">
                      Google Developer Groups
                     
  
                  </li>
                  <li class="google-sans-regular">
                      Google Developer Experts
                     
  
                  </li>
                  <li class="google-sans-regular">
                      Accelerators
                     
  
                  </li>
                  <li class="google-sans-regular">
                      Google Developer Student Clubs
  
                  </li>
              </ul>
          </div>
          <div class="col-lg-4">
              <ul>
                  <li class="heading-list google-sans-bold">
                      Developer consoles
  
  
                  </li>
                  <li class="google-sans-regular">
                      Google API Console
  
                  </li>
                  <li class="google-sans-regular">
                      Google Cloud Platform Console
  
                  </li>
                  <li class="google-sans-regular">
                      Google Play Console
  
  
                  </li>
                  <li class="google-sans-regular">
                      Firebase Console
  
                  </li>
                  <li class="google-sans-regular">
                      Actions on Google Console
  
                  </li>
                  <li class="google-sans-regular">
                      Cast SDK Developer Console
  
                  </li>
                  <li class="google-sans-regular">
                      Chrome Web Store Dashboard
                  </li>
              </ul>
          </div>
      </div>
    </div>
      <div class="row footer-two">
          <ul>
              <li class="logo-footer google-sans-bold">
                  DevFest 2023
              </li>
              <li class="google-sans-regular">
                  Android
  
              </li>
              <li class="google-sans-regular">
                  Chrome
  
              </li>
              <li class="google-sans-regular">
                  Firebase
  
              </li>
              <li class="google-sans-regular">
                  Google Cloud Platform
  
              </li>
              <li class="google-sans-regular">
                  All products
              </li>
          </ul>
      </div>
  </section>