<section class="counter-header py-5 google-sans-regular">
    <div class="container-fluid py-md-5">
        <div class="row">
            <div class="col-lg-5">
                <img [src]="eventGif" alt="" srcset="" width="100%">
            </div>
            <div class="col-lg-5 my-auto written-content">
                <div class="row">
                    <p class="section-title google-sans-bold">
                        Devfest 2023 for
                        <br>
                        <span>GDG Chandigarh</span>
                    </p>
                </div>
                <div class="row event-details google-sans-bold">
                    <p>
                        <i class="fa fa-calendar disabled"></i> {{eventDate}}
                    </p>
                    <p>
                        <i class="fa fa-clock-o disabled"></i> {{eventTime}}
                    </p>
                </div>
                <div class="row">
                    <p class="section-content">
                        An annual event hosted by the Google Developers Group across the world to bring the technology
                        closer to the developers. It is an all day developer conference where we aim to focus on multiple
                        technologies through lightning talks, sessions, workshops, etc.
                    </p>
                    <form class="d-flex">
                        <button class="btn btn-primary btn-sm google-sans-regular small-font rounded-0" type="submit">Register Now</button>
                      </form>
                </div>
            </div>
            <div class="col-lg-2 right-image">

            </div>
        </div>
    </div>
</section>
