<section class="counter-header google-sans-regular">
    <div class="container-fluid py-md-5">
        <div class="row">
            <div class="col-lg-6 my-auto written-content">
                <div class="row">
                    <p class="section-title google-sans-bold">
                        DevFest Chandigarh 2023
                    </p>
                </div>
                <div class="row event-details google-sans-bold">
                    <p>
                        <i class="fa fa-calendar disabled"></i> {{eventDate}}
                    </p>
                    <p>
                        <i class="fa fa-clock-o disabled"></i> {{eventTime}}
                    </p>
                </div>
                <div class="row">
                    <p class="section-content">
                        An annual event hosted by the Google Developer Groups across the world to bring the technology
                        closer to the developers. It is an all day developer conference where we aim to focus on multiple
                        technologies through lightning talks, sessions, workshops, etc.
                    </p>
                    <form class="d-flex">
                        <button (click)="onRegisterClick()" disabled class="btn btn-primary btn-sm google-sans-regular small-font" type="submit">Registration Coming Soon</button>
                      </form>
                </div>
            </div>
            <div class="col-lg-6">
                <img [src]="eventGif" alt="" srcset="" width="100%">
            </div>
        </div>
    </div>
</section>
