<app-event-page-header></app-event-page-header>
<section class="bg-light py-5">
    <div class="container pb-3">
        <div class="row text-center">
            <p class="section-title google-sans-bold text-dim">
                Speakers
            </p>
            <p class="section-content google-sans-regular">
                Whatever your challenge, these leaders on the front line of transformation, innovation, and exploration
                helped solve it with you.
            </p>
        </div>
        <div class="row py-3 d-flex justify-content-lg-center justify-content-sm-start">
            <div class="col-lg-2 col-sm-6 mb-3" *ngFor="let speaker of speakers let i = index" >
                <div class="speaker-card" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + i">
              
                    <div class="row d-flex justify-content-center">
                        <img src="{{speaker.image}}" srcset="" class="speaker-image">
                    </div>

                    <p class="speaker-name text-center google-sans-bold">{{speaker.name}}</p>
                    <p class="speaker-designation google-sans-regular text-center">{{speaker.designation}}</p>
                    <p class="speaker-designation google-sans-regular text-center">{{speaker.company}}</p>

                 

                </div>

                <div class="modal fade"  [id]="'exampleModal' + i" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">

                        <div class="modal-content">
                            <div class="modal-header p-0 border-0">
                                <img src="{{speaker.imageHeader}}" alt="" srcset="" width="100%">
                            </div>
                            <div class="container my-3 px-lg-4 fixed-content">
                                <div class="row d-flex justify-content-between">
                                    <div class="col-6 col-8 my-auto">
                                        <p class="speaker-name google-sans-bold">{{speaker.name}}</p>
                                        <p class="speaker-designation google-sans-regular ">{{speaker.designation}}</p>
                                        <p class="speaker-designation google-sans-regular">{{speaker.company}}</p>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                     <p class="google-sans-bold">
                                    Bio
                                </p> 
                                    <p class="google-sans-regular" style="text-align:justify;">
                                        {{speaker.bio}}
                                    </p>
                                </div>
                                 <div class="row socials">
                                <p>
                                    <a target="_blank" href="{{speaker.twitter}}">
                                        <i class="fa-brands fa-x-twitter"></i>
                                    </a>
                                    <a target="_blank" href="{{speaker.linkedin}}">
                                        <i class="fa fa-linkedin"></i> 
                                    </a>
                                </p>
                            </div>
                                <div class="row">
                                    <div class="row">
                                        <p class="title google-sans-bold">
                                            Sessions
                                        </p>
                                        <div class="row google-sans-regular">
                                            <div class="col-6 col-12" *ngFor="let session of speaker.sessions">
                                                <div class="sessions-card">
                                                    <p>{{session.sessionTopic}}</p>
                                                    <p class="sessions-card-duration">{{session.sessionDuration}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- <app-coming-soon></app-coming-soon> -->
  
    </div>
</section>
