<app-event-page-header></app-event-page-header>
<section class="bg-light py-5">
  <div class="container pb-3">
    <div class="row text-center">
      <p class="section-title google-sans-bold text-dim">Speakers</p>
      <p class="section-content google-sans-regular">
        Whatever your challenge, these leaders on the front line of
        transformation, innovation, and exploration helped solve it with you.
      </p>
    </div>
    <div
      class="row py-3 d-flex justify-content-lg-center justify-content-sm-start"
    >
      <app-profile-card
        class="col-lg-2 col-sm-6 mb-3"
        *ngFor="let person of speakers"
        [person]="person"
      />
    </div>
    <!-- <app-coming-soon></app-coming-soon> -->
  </div>
</section>
