<section class="join-comm bg-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="https://developers.google.com/static/community/devfest/images/become-speaker_720.png" alt=""
                    srcset="" width="100%">
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <div class="content">
                    <p class="section-title google-sans-bold">
                        Find a Google Developer Group near you
                    </p>
                    <p class="section-content google-sans-regular">
                        Join a local group and meet local developers with similar interests.
                    </p>
                    <button class="btn-primary btn btn-sm">Join Us</button>
                </div>
            </div>
        </div>
    </div>
</section>