<section class="join-comm bg-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="{{imageUrl}}" alt=""
                    srcset="" width="100%">
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <div class="content">
                    <p class="section-title google-sans-bold">
                        Google Developer Groups Chandigarh
                    </p>
                    <p class="section-content google-sans-regular">
                        Join GDG Chandigarh and meet local developers with similar interests.
                    </p>
                    <a (click)="onclick('join_us_click')" target="_blank" href="https://gdg.community.dev/gdg-chandigarh/" class="btn-primary btn btn-md">Join Us</a>
                </div>
            </div>
        </div>
    </div>
</section>