<div class="container my-5 keepInTouch text-center">
    <div class="row">
        <h2 class="section-title google-sans-bold">
            Keep in touch with GDG Chandigarh for the latest announcements
        </h2>
        <p class="section-content text-grey google-sans-regular">
            Stake out #GDGChandigarh for the latest updates and news.
        </p>
        <p class="section-content text-grey google-sans-regular"><i class="fa fa-facebook"></i> 
            <i class="fa fa-twitter"></i> 
            <i class="fa fa-instagram"></i> 
            <i class="fa fa-github"></i> 
        </p>
    </div>
</div>