.keepInTouch{
    background-color: #1976d21a;
    padding: 2%;
    border-radius: 15px;
}
.keepInTouch i{
    font-size: 20px;
    margin-right: 1%;
}
@media only screen and (min-width:1440px) {
    .container{
        max-width: 1550px !important;
    }
}