<section class="py-5 bg-light">
    <div class="container">
        <section class="about-gdg py-5 bg-light google-sans-regular">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-lg-6 my-auto">
                        <p class="section-title google-sans-bold">
                            About GDG Chandigarh
                        </p>
                        <p class="section-content">
                            Google Developer Groups Chandigarh (GDG Chandigarh ) is a young community of developers with
                            the
                            motive by the developers for the developers and from developers.
                        </p>
                        <p class="section-content">
                            In short its a community of developers who are interested in Google's developer technologies
                            from
                            the Android, Chrome, Drive, and Google Cloud platforms, to product APIs like the Cast API,
                            Maps API,
                            YouTube API and Many more.
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <img src="https://gdg-chandigarh-6a6cb.web.app/assets/png.png" alt="" srcset="" width="100%">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-card bg-white">

                            <img src="https://developers.google.com/static/homepage-assets/images/technical-skills-eyebrow.svg"
                                alt="" srcset="">
                            <p class="cc-title">
                                Why join GDG Chandigarh?
                            </p>



                            <p class="cc-content">
                                When you join Google Developer Groups Chandigarh, you’ll get ample opportunities not only
                                to meet
                                the local developers with similar interests in technology but also to share your
                                interest/experience with fellow community folks.

                            </p>
                            <p class="cc-content">
                                Our events include talks and hands on workshops on wide range of technical topics where
                                you can
                                learn new skills.


                            </p>
                            <p class="cc-content">
                                The community prides itself on providing an inclusive environment where all the
                                community
                                members from beginner developers to experienced professionals come together to help each
                                other.

                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section-card bg-white">
                            <img src="https://developers.google.com/static/homepage-assets/images/technical-skills-eyebrow.svg"
                                alt="" srcset="">
                            <p class="cc-title">
                                How do we provide support -
                            </p>
                            <p class="cc-content">
                                You can collaborate with us regardless of the field you're coming from. We'll support
                                you in
                                organizing events, competitions, etc. If interested, mail us at gdgforchd@gmail.com.

                            </p>
                            <p class="cc-content">



                                Disclaimer: GDG Chandigarh is an independent group; our activities and the opinions
                                expressed
                                here should in no way be linked to Google, the corporation. To learn more about the GDG
                                program,
                                visit https://developers.google.com/community/gdg/
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</section>
<section class="bg-light py-5">
    <div class="container">
        <iframe width="100%" height="658" src="https://www.youtube.com/embed/0C3t_Y0gm80"
            title="Join Us - Google Developer Groups Chandigarh" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</section>
<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <p class="section-title google-sans-bold">Glimpses From our Past Events</p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="event-card bg-white">
                        <div class="card-image" style="background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-goog/event_wrapup/DSC05527.JPG);"></div>
                       <div class="written-content p-3">
                        <p class="cc-title google-sans-bold">
                            IO Extended Chandigarh 2023
                        </p>
                        <p class="google-sans-regular cc-content">
                            Google I/O Extended is a series of community-led tech meetups that bring the knowledge and
                            excitement of Google I/O to developers on a city level, all around the globe.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>