<section class="events bg-light py-5 google-sans-regular">
    <div class="container">
        <p class="section-title mb-5 google-sans-bold">
        Past Events
        </p>
        <div class="row">
            <div class="col-lg-2 col-md-3 mb-4">
                <div class="events-card bg-white rounded-3">
                    <img src="https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_3,f_auto,g_center,h_175,q_auto:good,w_175/v1/gcs/platform-data-goog/events/star%20keras%20flat_IEuAtQd.jpg" alt="" srcset="">
                    <p class="cc-date">
                        SEP 02, 2023 
                    </p>
                    <p class="cc-title google-sans-bold">
                        Tech-Talk Session 
                    </p>
                    <p class="cc-content">
                        Keras Community Day 
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 mb-4">
                <div class="events-card bg-white rounded-3">
                    <img src="https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_3,f_auto,g_center,h_175,q_auto:good,w_175/v1/gcs/platform-data-goog/events/Bevy%20Thumbnail_3yFLs9d.png" alt="" srcset="">
                    <p class="cc-date">
                        SEP 02, 2023 
                    </p>
                    <p class="cc-title google-sans-bold">
                        Tech-Talk Session 
                    </p>
                    <p class="cc-content">
                        Keras Community Day 
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 mb-4">
                <div class="events-card bg-white rounded-3">
                    <img src="https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_3,f_auto,g_center,h_175,q_auto:good,w_175/v1/gcs/platform-data-goog/events/Event%20Thumbnail_uET8oRX.png" alt="" srcset="">
                    <p class="cc-date">
                        SEP 02, 2023 
                    </p>
                    <p class="cc-title google-sans-bold">
                        Tech-Talk Session 
                    </p>
                    <p class="cc-content">
                        Keras Community Day 
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 mb-4">
                <div class="events-card bg-white rounded-3">
                    <img src="https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_3,f_auto,g_center,h_175,q_auto:good,w_175/v1/gcs/platform-data-goog/events/IMG_20230131_161751_777.jpg" alt="" srcset="">
                    <p class="cc-date">
                        SEP 02, 2023 
                    </p>
                    <p class="cc-title google-sans-bold">
                        Tech-Talk Session 
                    </p>
                    <p class="cc-content">
                        Keras Community Day 
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 mb-4">
                <div class="events-card bg-white rounded-3">
                    <img src="https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_3,f_auto,g_center,h_175,q_auto:good,w_175/v1/gcs/platform-data-goog/events/DF22-Bevy-EventThumb_KsdIeuk.png" alt="" srcset="">
                    <p class="cc-date">
                        SEP 02, 2023 
                    </p>
                    <p class="cc-title google-sans-bold">
                        Tech-Talk Session 
                    </p>
                    <p class="cc-content">
                        Keras Community Day 
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 mb-4">
                <div class="events-card bg-white rounded-3">
                    <img src="https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_3,f_auto,g_center,h_175,q_auto:good,w_175/v1/gcs/platform-data-goog/events/Expert%20Talk_AsImhcp.jpg" alt="" srcset="">
                    <p class="cc-date">
                        SEP 02, 2023 
                    </p>
                    <p class="cc-title">
                        Tech-Talk Session 
                    </p>
                    <p class="cc-content google-sans-bold">
                        Keras Community Day 
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 mb-4">
                <div class="events-card bg-white rounded-3">
                    <img src="https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_3,f_auto,g_center,h_175,q_auto:good,w_175/v1/gcs/platform-data-goog/events/images_FqTeZVW.png" alt="" srcset="">
                    <p class="cc-date">
                        SEP 02, 2023 
                    </p>
                    <p class="cc-title google-sans-bold">
                        Tech-Talk Session 
                    </p>
                    <p class="cc-content">
                        Keras Community Day 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
