.icons img{
    width:7%;
    margin: 4px;
}
.custom-container {
    max-width: 80%; /* Set your custom max-width */
    margin-left: auto;
    margin-right: auto;
    padding: 20px; /* Add padding as needed */
}
.read-more-content {
    display: none;
}

/* Style the "Read More" link */
.read-more-link {
    color: rgb(45, 108, 233);
    cursor: pointer;
}
@media only screen and (max-width:456px)
{
    .custom-container {
        max-width: 100%; /* Set your custom max-width */}
}