<section>

    <div class="custom-container ">
        <div class="row p-3">
            <div class="col-lg-6">
                <h5 class="mb-0 google-sans-bold">About us</h5>
                <p class="section-title display-5 mt-n3 google-sans-bold mb-3 pb-2 google-sans-bold ">
                    What is <strong>GDG</strong>?
                </p>
                <p class="mb-3 google-sans-regular">An annual event hosted by the Google Developers Group across the
                    world to bring the
                    technology closer
                    to the developers. It is an all day developer conference where we aim to focus on multiple
                    technologies through lightning talks, sessions, workshops, etc.F</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda sapiente totam atque praesentium
                    doloribus, impedit repellat provident illum reprehenderit labore?</p>
                <p class="read-more-link" onclick="toggleReadMore()">Read More</p>
            </div>
            <div class="col-lg-6">

                <img [src]='argi' class="img-fluid mx-auto" />
            </div>
        </div>
    </div>

    <div class="custom-container">
        <div class="row py-3">
            <div class="col-12"><app-past-events></app-past-events></div>
        </div>
    </div>

    <div class="custom-container p-4" style="background-color: white; border-radius: 15px;">
        <div class="row  p-3">
            <div class="col-12 ">
                <h2 class=" google-sans-bold pb-4">What to Expect</h2>
                <p class="google-sans-regular">An annual event hosted by the Google Developers Group across the world to
                    bring the technology closer
                    to the developers. It is an all day developer conference where we aim to focus on multiple
                    technologies through lightning talks, sessions, workshops, etc.F</p>

                <div class="row">
                    <div class="col-lg-4 mb-3">
                        <div class=" p-3 rounded " style="background-color: rgba(216, 240, 254,0.5); border-radius: 15px;">
                            <div class="m-md-3 m-0"><h4 class="google-sans-bold">Technical content</h4>
                                <p class="google-sans-regular pt-4">Events hosted by the Google Developer Groups community,
                                    featuring leading experts on
                                    Google technologies in areas.</p></div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <div class=" p-3 rounded " style="background-color: rgba(216, 240, 254,0.5); border-radius: 15px;">
                            <div class="m-md-3 m-0"><h4 class="google-sans-bold">Technical content</h4>
                                <p class="google-sans-regular pt-4">Events hosted by the Google Developer Groups community,
                                    featuring leading experts on
                                    Google technologies in areas.</p></div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <div class=" p-3 rounded " style="background-color: rgba(216, 240, 254,0.5); border-radius: 15px;">
                            <div class="m-md-3 m-0"><h4 class="google-sans-bold">Technical content</h4>
                                <p class="google-sans-regular pt-4">Events hosted by the Google Developer Groups community,
                                    featuring leading experts on
                                    Google technologies in areas.</p></div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <div class="custom-container py-5">
        <div class="row">
            <div class="col-lg-8">
                <img [src]='png' class="img-fluid mx-auto d-block" />
            </div>
            <div class="col-lg-4 p-3" style="background-color: rgb(216, 240, 254); border-radius: 20px;">
               <div class=" d-flex align-item-center justify-content-center">
                <div class="text-start">
                    <p class="display-5 display-md-4 display-lg-3 font-bold px-2 text-wrap fw-bold google-sans-bold">
                        Join the Community of Developers
                    </p>
                    <h4 class="px-3 google-sans-bold">GDG Chandigarh</h4>
                    <div class="container py-2 d-flex justify-content-start">
                        <button class="btn btn-primary google-sans-regular">Join us</button>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </div>



    <section class="youtube my-3 py-3">
        <div class="container my-3 py-3 ">
            <div class="video-container ">
                <iframe width="100%" height="640" src="https://www.youtube.com/embed/0C3t_Y0gm80?si=KA8YAjyFLlOjs91F" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <div class="custom-container my-5">
        <div class="row keepInTouch " style="background-color: rgb(216, 240, 254); border-radius: 15px;">
            <div class="col-12 d-flex justify-content-center py-5">
                <div>
                    <h2 class="google-sans-bold">Keep in touch with GDG Chandigarh for the latest announcements

                    </h2>
                    <p class="d-flex justify-content-center google-sans-bold">Stake out #GDGChandigarh for the latest updates and news.

                    </p>

                    <div class=" d-flex justify-content-center">
                        <div class="mx-3"><i class="fa fa-facebook google-sans-bold"></i></div>
                        <div class="mx-3"><i class="fa fa-twitter google-sans-bold"></i></div>
                        <div class="mx-3"><i class="fa fa-linkedin google-sans-bold"></i></div>
                        <div class="mx-3"><i class="fa fa-instagram google-sans-bold"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>