<app-event-page-header></app-event-page-header>

<section class="bg-light py-5">
  <div class="container">
    <div class="row pt-3 text-center">
      <h2 class="google-sans-bold text-dim">Core Team</h2>
      <p class="section-content google-sans-regular">
        Meet the dedicated individuals who make our event possible.
      </p>
    </div>
    <div
      class="row my-6 py-3 d-flex justify-content-lg-center justify-content-sm-start"
    >
      <app-profile-card
        class="col-lg-2 col-sm-6 mb-3"
        *ngFor="let organizer of organizers"
        [person]="organizer"
        [type]="'organizer'"
      />
    </div>

    <div class="row text-center">
      <p class="section-title pt-5 google-sans-bold">Volunteers</p>
    </div>
    <div
      class="row my-6 py-3 d-flex justify-content-lg-center justify-content-md-start"
    >
      <app-profile-card
        class="col-lg-2 col-sm-6 mb-3"
        *ngFor="let volunteer of volunteers"
        [person]="volunteer"
        [type]="'volunteer'"
      />
    </div>
  </div>
</section>



<style>
  @media screen and (max-width: 768px) {
    section {
      padding-top: 9rem !important;
    }
    
  }
</style>