.volunteer-card img{
    border-radius: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
    margin:auto;
}
.volunteer-card{
    padding: 5%;
    margin-bottom: 7.5%;
}
@media only screen and (max-width:425px){
    .col-sm-6{
        flex: auto 0 0;
        width: 50%;
    }
}
