<div class="my-md-10 my-0 px-3">
  <div class="fluid-container">
    <!-- Mobile -->
    <div class="mobile-section">
      <div class="d-block d-sm-block d-md-none">
        <p class="gdg-heading mb-0 grey--text text--darken-4">DevFest Badge</p>
        <p class="my-0 mb-8 h1-subheading">
          Now that you are here, how about personalising your DevFest India 2023 profile? Upload an image and generate a personalised badge with the DevFest India 2023 frame. Also share your image using #DevFestIndia on different social platforms.
        </p>
      </div>
    </div>
    <!-- Mobile -->

    <!-- Desktop -->
    <div class="desktop-section mb-md-10">
      <div class="d-none d-sm-none d-md-block mb-10">
        <p class="gdg-h1 mb-0 grey--text text--darken-4">DevFest Badge</p>
        <p style="font-size: 18px;">
          Now that you are here, how about personalising your DevFest India 2023 profile? Upload an image and generate a personalised badge with the DevFest India 2023 frame. Also share your image using #DevFestIndia on different social platforms.
        </p>
      </div>
      <div class="input">
        <label class="mb-3" style="font-size: 110%;">Select an Image</label>
        <br />
        <button class="mt-3" (click)="uploadImage()">Upload Image</button>
        <input class="profile-input" type="file" accept="image/*" (change)="upload($event)" hidden />
      </div>
      <div class="mt-5">
        <label class="mb-5" style="font-size: 110%;">Image Shape</label>
        <br />
        <div class="shape-buttons">
          <button (click)="changeShape('original')">Original</button>
          <button (click)="changeShape('Square')">Square</button>
          <button (click)="changeShape('circle')">Circle</button>
        </div>
      </div>
      <p class="mt-8 mb-15 mb-md-0">
        <span><span style="color: red">*</span>&nbsp; We respect your privacy and are not storing your pictures on our servers.</span>
      </p>
    </div>
    <!-- Desktop -->

    <div class="text-center py-md-10 py-5">
      <canvas #canvas></canvas>
      <br /><br />
      <button id="download" (click)="download()">Download</button>
    </div>
  </div>
</div>
