<section class="page-header google-sans-regular">
    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col-6 one my-auto">
                <div class="container">
                    <p class="page-title pt-3">
                        DevFest Chandigarh 2023
                    </p>
                    <p class="section-links">
                       <span style="margin-right: 0px;"><u>events</u></span> /<span ><u> devfest</u></span> /speakers
                    </p>
                </div>
            </div>
             <div class="col-6 two right-image">

             </div>
        </div>
    </div>
</section>
