<section class="pt-4 page-header google-sans-regular breadcrumbContent">
    <div class="container-fluid pt-4 ">
        <div class="row">
            <div class="col-6 one my-auto">
                <div class="container">
                    <p class="page-title pt-3 section-title google-sans-bold">
                        DevFest Chandigarh 2024
                    </p>
                    <p class="section-links mt-2">
                       <span style="margin-right: 0px; padding-top: 4px;"> DevFest</span> / {{pathName}}
                    </p>
                </div>
            </div>
             <div class="col-6 two right-image">
<!-- <img src="../../../../assets/page-header-image2.png" alt=""> -->
             </div>
        </div>
    </div>
</section>
