<section class="helpful-resources bg-white py-5">
    <div class="container">
        <div class="row">
            <p class="section-title google-sans-bold fw-bold">
                Find helpful solutions and resources
            </p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="hr-cards border-1">
                    <div class="row">
                        <div class="col-6">
                            <p class="cc-title google-sans-bold fw-bold">
                                Mobile
                            </p>
                            <p class="cc-content google-sans-regular">
                                Develop for a range of audiences and form factors.
                            </p>
                            <a (click)="onclick('resources_mobile_click')" target="_blank" href="https://developers.google.com/focus/mobile-app-development" class="btn btn-primary btn-sm google-sans-regular"> Get Started <i class="fa fa-arrow-right"></i></a>
                        </div>
                        <div class="col-6">
                            <img src="https://developers.google.com/static/community/devfest/images/ecosystem-mobile_720.png" alt="" width="100%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hr-cards border-1">
                    <div class="row">
                        <div class="col-6">
                            <p class="cc-title google-sans-bold fw-bold">
                                Web
                            </p>
                            <p class="cc-content google-sans-regular">
                                Develop for a range of audiences and form factors.
                            </p>
                            <a (click)="onclick('resources_web_click')"  href="https://developers.google.com/focus/web-development" target="_blank" class="btn btn-primary btn-sm google-sans-regular"> Get Started <i class="fa fa-arrow-right"></i></a>
                        </div>
                        <div class="col-6">
                            <img src="https://developers.google.com/static/community/devfest/images/ecosystem-web_720.png" alt="" width="100%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hr-cards border-1">
                    <div class="row">
                        <div class="col-6">
                            <p class="cc-title google-sans-bold fw-bold">
                              AI
                            </p>
                            <p class="cc-content google-sans-regular">
                                Develop for a range of audiences and form factors.
                            </p>
                            <a (click)="onclick('resources_ai_click')" href="https://developers.google.com/focus/ai-development" target="_blank" class="btn btn-primary btn-sm google-sans-regular"> Get Started <i class="fa fa-arrow-right"></i></a>
                        </div>
                        <div class="col-6">
                            <img src="https://developers.google.com/static/community/devfest/images/ecosystem-ai_720.png" alt="" width="100%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hr-cards border-1">
                    <div class="row">
                        <div class="col-6">
                            <p class="cc-title google-sans-bold fw-bold">
                                Cloud
                            </p>
                            <p class="cc-content google-sans-regular">
                                Develop for a range of audiences and form factors.
                            </p>
                            <a (click)="onclick('resources_cloud_click')" href="https://developers.google.com/focus/cloud-development" target="_blank" class="btn btn-primary btn-sm google-sans-regular"> Get Started <i class="fa fa-arrow-right"></i></a>
                        </div>
                        <div class="col-6">
                            <img src="https://developers.google.com/static/community/devfest/images/ecosystem-cloud_720.png" alt="" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
