.nav-item a{
    color:#5f6368!important;
    transition-duration: 0.5s;
    margin-left: 5%;
    margin-right: 5%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.SecondaryBtn {
        background-color: #cddffd;
            color: #202124;
            width: max-content;
            height: 50px;
            position: relative;
            padding: 0.8rem 2rem;
            border-radius: 15px;
            overflow: hidden;
            transition: all .3s cubic-bezier(.18, .37, .42, 1.01);
            border: 3px solid #e8eaedb7;
}
.SecondaryBtn:hover,
.SecondaryBtn:focus {
    border: 3px solid #ffffff !important;
    box-shadow: #00000029 0 1px 4px,#4285f4 0 0 0 3px;
}
a{
    text-decoration: none;
}
.SecondaryBtn span {
    position: relative;
        width: 153px;
      
            padding: 10px 6px 4px 3px;
            border-radius: 8px
}
.PrimaryBtn {
    background-color: var(--blue2);
    width: max-content;
    height: 50px;
    position: relative;
    padding: 1rem 2rem;
    border-radius: 15px;
    overflow: hidden;
    transition: all .3s cubic-bezier(.18, .37, .42, 1.01);
    display: inline-block;
}

.nav-item a:hover{
    color:#5f6368 !important;
    border-bottom: #5f6368 solid 2.5px;
    /* margin: 0% 20% !important; */
}


.active{
    /* background-image: linear-gradient(to right, transparent 20%, #5f6368 20%, #5f6368 80%, transparent 90%); */
    /* background-position: bottom center; /* Center the gradient at the bottom */
   /* background-size: 100% 5px; /* Adjust the thickness of the border as needed */
   /* background-repeat: no-repeat;
    color: #242628 !important; */
    border-bottom: #5f6368 solid 2.5px;
   margin: 0% 20% !important;
    transition-duration: 0.5s;
}
nav{
    position: fixed;
    width:100%;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    box-shadow: 5px 5px 5px #0000001d;
    border-bottom: solid 1px #5f636869;
}
.tablet{
    display: none;
}


@media only screen and (max-width:768px) {
    .desktop{
        display: none;
    }
         
   
    .tablet{
        display: block;
    }
    .nav-item a:hover{
        color:#5f6368 !important;
        border-bottom: #5f6368 solid 0px;
        /* margin: 0% 20% !important; */
    }
    .active{
        margin: 0% 0% !important;
    }
    .navbar-brand{
        font-size: 15px;
        margin-top: 0.25%;

    }
    img{
       margin-bottom: 0px;
       margin-right: 0.5%;
       height:15px;
    }
}

.event-header-section{
    height: 75vh;
    padding-top:2.5%;
}
.event-header-section .row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.left-image{
    background-image: url('https://developers.google.com/community/devfest/images/devfest-header-left.svg');
    background-size:contain;
    background-repeat: no-repeat;
    height: 600px;
}
.right-image{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('https://developers.google.com/community/devfest/images/devfest-header-right.svg');
    background-position: center right;
}
.event-header-section p{
    margin-bottom:16px;
    padding-bottom: 0px !important;
}
.header-title{
    font-size: 290%;
}
.header-text{
    width: fit-content;
    padding-right: 40%;
}
.col-lg-5{
    align-items: center;
}
@media only screen and (max-width:1500px){
    .event-header-section
    {
        padding-top: 4%;
    }
    .right-image{
        display: none;
    }
    .col-lg-5{
        flex: 0 0 auto !important;
        width: 50% !important;
        align-items: center;
    }
    .header-text{
        width: fit-content;
        padding-right: 0%;
    }
}
@media only screen and (max-width:1024px) {
    .event-header-section{
        padding-top: 5.5%;
    }
    .col-lg-5{
        align-items: start;
    }
}
@media only screen and (max-width:768px) {
    .col-lg-5{
        width: 100% !important;
    }
    .left-image{
        height: 40vh;
        background-image: url('https://developers.google.com/community/devfest/images/devfest-header-mobile.svg');
    }
    .header-title{
        font-size: 200%;
    }
    .header-content{
        font-size: 80%;
    }
    .navbar{
        height: 48px;
        display: flex;
        align-items: center;
    }
    .tablet .nav-item{
        border-bottom: #5f636867 solid 1px;
    }
    .active{
        margin-left: 0px !important;
        border-bottom: none;
    }
    .nav-item a{
        margin-left: 0px !important;
    }
}
@media only screen and (max-width:450px){
    .left-image{
        height: 25vh;
    }
    .event-header-section{
        height: 63vh;
    }
    .header-title{
        font-size: 150%;
    }
    .header-content{
        font-size: 80%;
    }
    .offcanvas{
        width: 60% !important;
    }
    .navbar-brand{
        font-size: 15px;
        margin-top: 0.25%;

    }
    img{
       margin-bottom: 0px;
       margin-right: 0.5%;
       height:15px;
    }
}
