.nav-container {
    background-color: #fff;
    border-radius: 15px;
    /* box-shadow: none; */
    transition:0.3s ease box-shadow;
    width: 100%;
}
.nav-container.box-shadow{
    box-shadow: 5px 5px 5px #00000025;
}
.px-2 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}

.nav-item a {
    color: #1976d2 !important;
    transition-duration: 0.5s;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 80%;
}
.small-font{
font-size: 80%;
}
.navbar-brand{
    margin-right: 2%;
}
.nav-item a{
    padding-left: 5%;
    padding-right: 5%;
}

.active {
    background-color: #1976d223;
}

.nav-item:hover {
    color: #1976d2 !important;
    background-color: #1976d23b;
}

nav {
    position: fixed;
    width: 100%;
}



@media only screen and (max-width:1024px) {
    .nav-container {
        width: 100% !important;
        padding: 1%;
    }
}

.header-container img {
    border-radius: 15px;
}

.header-container {
    padding-top: 5%;
}

@media only screen and (max-width:1024px) {
    .header-container {
        padding-top: 10%;
    }
}

@media only screen and (max-width:768px) {
    .header-container {
        padding-top: 15%;
    }
}

@media only screen and (max-width:425px) {
    .header-container {
        padding-top: 20%;
    }
}
@media only screen and (min-width:1440px) {
    .container{
        max-width: 1550px !important;
    }   
}

.btn-primary{
    border-radius: 50px !important;
}
.section-title{
    color: #212121!important;
    caret-color: #212121!important;
    font-size: 200%;
    line-height: 40px;
    font-weight: 800 !important;
}
.section-content{
    font-size: 16px;
    color: rgba(0,0,0,.87);
}
@media only screen and (min-width:1024px) {
    .tablet{
        display: none;
    }
    .tablet button{
        width: 100%;
        margin-top: auto !important;
    }
}
@media only screen and (max-width:1023px) {
    .desktop{
        display: none;
    }
    .nav-item a {
        color: #1976d2 !important;
        transition-duration: 0.5s;
        border-radius: 0px;
        margin-left: 0%;
        margin-right: 0%;
        font-size: 80%;
        text-align: left;
    }

}