<nav class="navbar desktop navbar-expand-lg navbar-light bg-white" (scroll)="onScroll($event)" [ngStyle]="boxShadowStyle">
  <div class="container-fluid nav-container">
    <a class="navbar-brand google-sans-regular text-grey" href="#">Devfest Chandigarh</a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fa fa-bars "></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link px-2 active d-flex justify-content-center" routerLink="devfest/home"
            aria-current="page">Home</a>
        </li>
        <li class="nav-item d-flex justify-content-center">
          <a class="nav-link px-2" routerLink="devfest/speaker">Speakers</a>
        </li>
        <li class="nav-item d-flex justify-content-center">
          <a class="nav-link px-2" routerLink="devfest/agenda">Schedule</a>
        </li>
        <li class="nav-item d-flex justify-content-center">
          <a class="nav-link px-2" routerLink="devfest/home">Badge</a>
        </li>
        <li class="nav-item d-flex justify-content-center">
          <a class="nav-link  px-2" routerLink="devfest/teams">Team</a>
        </li>
        <li class="nav-item d-flex justify-content-center">
          <a class="nav-link  px-2" routerLink="devfest/faq">FAQ's</a>
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-primary btn-sm google-sans-regular small-font rounded-0" type="submit">Register Now</button>
      </form>
    </div>
  </div>
</nav>
<nav class="navbar tablet bg-light fixed-top">
  <div class="container-fluid d-inline">
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
    aria-controls="offcanvasNavbar">
    <i class="fa-bars fa"></i>
  </button>
    
  <a class="navbar-brand px-1" href="#">Devfest Chandigarh</a>
   
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel google-sans-regular">DevFest Chandigarh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link px-2 active d-flex justify-content-sr" routerLink="devfest/home"
              aria-current="page">Home</a>
          </li>
          <li class="nav-item d-flex justify-content-start">
            <a class="nav-link px-2" routerLink="devfest/speaker">Speakers</a>
          </li>
          <li class="nav-item d-flex justify-content-start">
            <a class="nav-link px-2" routerLink="devfest/agenda">Schedule</a>
          </li>
          <li class="nav-item d-flex justify-content-start">
            <a class="nav-link px-2" routerLink="devfest/home">Badge</a>
          </li>
          <li class="nav-item d-flex justify-content-start">
            <a class="nav-link  px-2" routerLink="devfest/teams">Team</a>
          </li>
          <li class="nav-item d-flex justify-content-start">
            <a class="nav-link  px-2" routerLink="devfest/faq">FAQ's</a>
          </li>
          <li class="nav-item">
            
          </li>
        </ul>
        <a class="nav-link py-4 px-2 mt-auto" routerLink="devfest/"><button class="btn bg-primary text-light w-100">Register Here</button></a>
      </div>
    </div>
  </div>
</nav>
<section class="header-section bg-white">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4 col-md-12 desktop-view left-header">
              <img src="https://developers.google.com/community/devfest/images/devfest-about-background-left.svg"
                  alt="" srcset="" >
          </div>
          <div class="col-lg-4 col-md-12 tablet-view">
              <img src="https://developers.google.com/community/devfest/images/devfest-about-header-mobile.svg"
              alt="" srcset=""> 
          </div>
          <div class="col-lg-4 col-md-12 d-flex justify-content-center align-items-center px-4">
              <div class="text-content">
                  <p class="header-title google-sans-bold">
                      Learn, build, and connect
                  </p>
                  <p class="header-content google-sans-regular">
                      DevFest is a global community-driven tech conference, hosted by the Google Developer Groups (GDG)
                      community. Each DevFest event is crafted by its GDG organizers to fit the learning needs and
                      interests of their local developer community, with a strong focus on knowledge exchange, networking,
                      and learning about Google developer technologies
                  </p>
              </div>
          </div>
          <div class="col-lg-4 col-md-12 d-flex justify-content-end desktop-view right-image">
              <img src="https://developers.google.com/community/devfest/images/devfest-about-background-right.svg" alt="" srcset="" height="100%">
          </div>
      </div>
  </div>
</section>