<section class="my-5 py-3">
    <div class="container">
        <h1 class="section-heading">
            About
        </h1>
        <p class="section-subheading"><b>GDG Chandigarh</b></p>
    </div>
    <div class="container">
        <p class="section-content">Google Developer Group Chandigarh (GDG Chandigarh ) is a young community of
            developers with the motive by the
            developers for the developers and from developers.

        </p>
        <p class="section-content">
            In short its a community of developers who are interested in Google's developer technologies from the
            Android, Chrome, Drive, and Google Cloud platforms, to product APIs like the Cast API, Maps API, YouTube API
            and Many more.
        </p>
    </div>
    <div class="container section-quote">
        <div class="row py-3 my-3">
            <div class="col-lg-12 text-center">
                "Bringing people with interest in technology together since 2018"
            </div>
        </div>
    </div>
</section>
<section class="why-join">
    <div class="container">
        <div class="row">
            <p><b>Why join GDG Chandigarh?</b></p>
            <p>When you join Google Developer Group Chandigarh, you’ll get ample opportunities not only to meet the
                local developers with similar interests in technology but also to share your interest/experience with
                fellow community folks.</p>
            <p>
                Our events include talks and hands on workshops on wide range of technical topics where you can learn
                new skills.

                The community prides itself on providing an inclusive environment where all the community members from
                beginner developers to experienced professionals come together to help each other. </p>
        </div>
        <div class="row">
            <p><b>How do we provide support -</b></p>
            <p>
                You can collaborate with us regardless of the field you're coming from. We'll support you in organizing
                events, competitions, etc. If interested, mail us at gdgforchd@gmail.com.



                Disclaimer: GDG Chandigarh is an independent group; our activities and the opinions expressed here
                should in no way be linked to Google, the corporation. To learn more about the GDG program, visit
                https://developers.google.com/community/gdg/
            </p>
        </div>
    </div>

</section>