<div class="container my-5 keepInTouch google-sans-regular">
    <div class="row my-5">
        <p class="section-title text-center google-sans-bold">
            Follow Google Developers Groups Chandigarh
        </p>
        <p class="section-content text-center">
            Stake out #GDGChandigarh for the latest updates and news.
        </p>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="socio-links">
                <img src="https://developers.google.com/static/homepage-assets/images/yt.svg" alt="" srcset="">
                <p class="cc-title google-sans-bold">
                    YouTube  
                </p>
                <p class="cc-content">
                    Subscribe to join a community of creative developers and learn the latest in Google technology. 
                </p>
                <button class="btn btn-small btn-outline-primary">Learn More</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="socio-links">
                <img src="https://developers.google.com/static/homepage-assets/images/ig.webp" alt="" srcset="">
                <p class="cc-title google-sans-bold">
                    Instagram 
                </p>
                <p class="cc-content">
                    Follow and discover developer resources, community events, and inspirational stories.
                </p>
                <button class="btn btn-small btn-outline-primary">Learn More</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="socio-links">
                <img src="https://developers.google.com/static/homepage-assets/images/li_72.png" alt="" srcset="">
                <p class="cc-title google-sans-bold">
                    LinkedIn 
                </p>
                <p class="cc-content">
                    Join a community of creative developers and learn how to use the latest in technology. 
                </p>
                <button class="btn btn-small btn-outline-primary">Learn More</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="socio-links">
                <img src="https://developers.google.com/static/homepage-assets/images/x.svg" alt="" srcset="">
                <p class="cc-title google-sans-bold">
                    X 
                </p>
                <p class="cc-content">
                    Join the conversation to discover the latest developer tools, resources, events, and announcements. 
                </p>
                <button class="btn btn-small btn-outline-primary">Learn More</button>
            </div>
        </div>
        
    </div>
</div>