.section-card{
    border: lightgrey solid 1px;
    border-radius: 15px;
    margin-bottom: 3%;
}
.section-card img{
    height: 100px;
}
.cc-title{
    font-weight: 700;
    font-size: 150%;
}
.cc-content{
    font-size: 80%;
}
@media only screen and (max-width:1440px){
    /* .about-section{
        padding-top: 10%;
    } */
}
@media only screen and (max-width:1024px){
    .about-section{
        padding-top: 0% !important;
    }
}
@media only screen and (max-width:768px){
    /* .about-section{
        padding-top: 10% !important;
    } */
}
