<div class="container bg-white whatToExpect">
    <div class="row">
        <p class="section-title google-sans-bold">What To Expect</p>
        <p class="section-content google-sans-regular text-dim">
            An annual event hosted by the Google Developers Group across the world to bring the technology closer to the
            developers. It is an all day developer conference where we aim to focus on multiple technologies through
            lightning talks, sessions, workshops, etc.
        </p>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="custom-card">
                <p class="cc-title google-sans-bold">
                    Technical content
                </p>
                <p class="cc-content google-sans-regular text-dim">
                    Events hosted by the Google Developer Groups community, featuring leading experts on Google
                    technologies in areas.
                </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="custom-card">
                <p class="cc-title google-sans-bold">
                    Technical content
                </p>
                <p class="cc-content google-sans-regular text-dim">
                    Events hosted by the Google Developer Groups community, featuring leading experts on Google
                    technologies in areas.
                </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="custom-card">
                <p class="cc-title google-sans-bold">
                    Technical content
                </p>
                <p class="cc-content google-sans-regular text-dim">
                    Events hosted by the Google Developer Groups community, featuring leading experts on Google
                    technologies in areas.
                </p>
            </div>
        </div>
    </div>

</div>