<section class="bg-white about-section">
    <div class="container whatToExpect py-5">
        <div class="row">
            <p class="section-title google-sans-bold pb-3">
                What To Expect at a DevFest
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="section-card bg-white p-3">
                    <img src="https://developers.google.com/static/community/devfest/images/content.svg"
                        alt="" srcset="">
                    <p class="cc-title google-sans-bold mt-3">
                        Technical content
                    </p>
                    <p class="cc-content google-sans-regular">
                        Worldwide events hosted by the Google Developer Groups community, featuring leading experts on
                        Google technologies.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="section-card bg-white p-3">
                    <img src="https://developers.google.com/static/community/devfest/images/networking.svg"
                        alt="" srcset="" >
                    <p class="cc-title google-sans-bold mt-3">
                        Networking
                    </p>
                    <p class="cc-content google-sans-regular">
                        Panel discussions, Q&A sessions, meetup groups, project showcases, coding workshops, mentorship
                        sessions, and more.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="section-card bg-white p-3">
                    <img src="https://developers.google.com/static/community/devfest/images/workshops.svg" alt=""
                        srcset="">
                    <p class="cc-title google-sans-bold mt-3">
                        Workshops
                    </p>
                    <p class="cc-content google-sans-regular">
                        Full-day workshops, hands-on experiences and debugging events, all centered on your favorite Google technologies.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>