<div class="container py-3 my-5 about-devfest">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <p class="section-title">
                    Devfest 2023 for
                    <br>
                    <span>GDG Chandigarh</span>
                </p>
            </div>
            <div class="row event-details my-3">
                <p>
                    <i class="fa fa-calendar disabled"></i> October 20, 2023
                </p>
                <p>
                    <i class="fa fa-clock-o disabled"></i> 10:00 A.M. Onwards
                </p>
            </div>
            <div class="row">
                <p class="section-content">
                    An annual event hosted by the Google Developers Group across the world to bring the technology
                    closer to the developers. It is an all day developer conference where we aim to focus on multiple
                    technologies through lightning talks, sessions, workshops, etc.
                </p>
            </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center">
            <div class="row">
                <div class="col-4">
                    <div class="counter-container">
                        <h2>4</h2>
                        <p>Tracks</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="counter-container">
                        <h2>4</h2>
                        <p>Tracks</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="counter-container">
                        <h2>4</h2>
                        <p>Tracks</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="counter-container">
                        <h2>4</h2>
                        <p>Tracks</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="counter-container">
                        <h2>4</h2>
                        <p>Tracks</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="counter-container">
                        <h2>4</h2>
                        <p>Tracks</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>