<section class="join-comm bg-white py-5 google-sans-regular">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="https://developers.google.com/static/homepage-assets/images/find-community_720.png" alt=""
                    srcset="" width="100%" class="rounded-3 mb-4">
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <div class="content container">
                    <img src="https://developers.google.com/static/homepage-assets/images/find-community-eyebrow.svg" alt="" srcset="" class="mb-3">
                    <p class="section-title mb-3 google-sans-bold">
                        Find a Google Developer Groups near you
                    </p>
                    <p class="section-content mb-3">
                        Join a local group and meet local developers with similar interests.
                    </p>
                    <button class="btn-outline-primary btn btn-sm px-4">Join Us</button>
                </div>
            </div>
        </div>
    </div>
</section>