<section class="attendees google-sans-regular  py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 d-flex align-items-center">
                <div>
                    <p class="section-title google-sans-bold">
                        Network, learn and grow
                    </p>
                    <p class="section-content">
                        Join a vibrant community of developers ready to help you network, learn, and grow.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="event-stats">
                    <img src="https://developers.google.com/static/community/devfest/images/devs-reached.webp" alt="" srcset="" width="100%">
                    <p class="stats-title google-sans-bold">
                        320K+
                    </p>
                    <p class="stats-lable google-sans-regular">
                        Attendees
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="event-stats">
                    <img src="https://developers.google.com/static/community/devfest/images/event-stats.webp" alt="" srcset="" width="100%">
                    <p class="stats-title google-sans-bold">
                        550+
                    </p>
                    <p class="stats-lable google-sans-regular">
                        Attendees
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>