<section class="header-hero bg-dark bg ">
    <div class="overlay d-flex align-items-center ">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="header-title google-sans-bold">GDG Chandigarh</h1>
                <div class="row socio-icons">
                    <div class="col-12">
                        <div class="social-icons">
                            <a href="#" class="social-icon">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                            <a href="#" class="social-icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="social-icon">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#" class="social-icon">
                                <i class="fa fa-github"></i>
                            </a>
                            <!-- Add more social icons as needed -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- <section >
    <div class="container py-5 d-flex justify-content-center">
        <a target="_blank" href="https://gdg.community.dev/gdg-chandigarh/" class="btn btn-primary google-sans-regular">Join us</a>
    </div>
</section> -->