.social-icons {
    display: flex;
    align-items: center;
  }
  .header-title{
    color: white;
  }
  .header-hero{
    height: 53vh;
  }
  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #fff; /* Icon color */
    border-radius: 50%; /* Make it circular */
    border:1px solid white ;
    margin-right: 10px; /* Add spacing between icons */
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  .overlay{
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
}
.bg{
  background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_scale,w_1200/c_crop,h_650,w_1200,y_1.0_mul_h_sub_1.0_mul_650/c_crop,h_650,w_1200/c_fill,dpr_2.0,f_auto,g_center,q_auto:good/v1/gcs/platform-data-goog/chapter_banners/Webp.net-resizeimage.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: left;
}