.socio-icons a {
  margin-right: 2%;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.gdg-header .container {
  width: 40%;
}

video {
  width: 100%;
}
@media only screen and (max-width:1440px) {
  .gdg-header .container {
    width: 85%;
  }
}

@media only screen and (max-width:1024px) {
  .gdg-header .container {
    width: 90%;
  }
}

@media only screen and (max-width:820px) {
  .gdg-header .container {
    margin-bottom: 7.5%;
    margin-top: 7.5%;
    width: 100% !important;
  }
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}