<div class="section gdg-header py-5 google-sans-regular">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="container ms-auto w-50">
                    <div class="row">
                        <h1 class="header-title google-sans-bold">
                            GDG Chandigarh
                        </h1>
                        <!-- <p class="header-content">
                            1,731 Group Members
                        </p> -->
                    </div>
                    <div class="row">
                        <div class="socio-icons d-flex">
                            <i class="fa fa-instagram"></i><i class="fa fa-linkedin"></i><i class="fa fa-facebook"></i><i class="fa fa-youtube"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <video [src]="videoUrl" loop muted autoplay width="100%"></video>
            </div>
        </div>
    </div>
</div>