<section class="featured-products my-3 py-5 bg-light">
    <div class="container">
        <p class="section-title google-sans-bold">
            Featured Topics
        </p>
        <div class="row my-3 py-3">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="featured-cards bg-white rounded-4 px-5 py-3 my-3">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <img src="https://developer.android.com/images/brand/Android_Robot.png" alt="" srcset="" class="m-auto py-3">
                    </div>
                </div>
                <p class="cc-title google-sans-bold text-center fw-bold">
                    Android
                </p>
                <p class="cc-content google-sans-regular text-center">
                    Modern tools to help you build experiences that people love across every Android device.
                </p>
            </div>
            
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="featured-cards bg-white rounded-4 px-5 py-3 my-3">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <img src="https://www.gstatic.com/images/branding/product/2x/google_cloud_64dp.png" alt="" srcset=""  class="m-auto py-3">
                    </div>
                </div>
                <p class="cc-title google-sans-bold text-center fw-bold">
                    Google Cloud
                </p>
                <p class="cc-content google-sans-regular text-center">
                    Modern tools to help you build experiences that people love across every Android device.
                </p>
            </div>
            
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="featured-cards bg-white rounded-4 px-5 py-3 my-3">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <img src="https://www.gstatic.com/images/branding/product/2x/firebase_64dp.png" alt="" srcset="" class="m-auto py-3">
                    </div>
                </div>
                <p class="cc-title google-sans-bold text-center fw-bold">
                    Firebase
                </p>
                <p class="cc-content google-sans-regular text-center">
                    Modern tools to help you build experiences that people love across every Android device.
                </p>
            </div>
            
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="featured-cards bg-white rounded-4 px-5 py-3 my-3">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <img src="https://developers.google.com/static/focus/images/palm-logo.svg" alt="" srcset=""  class="m-auto py-3">
                    </div>
                </div>
                <p class="cc-title google-sans-bold text-center fw-bold">
                   PaLM
                </p>
                <p class="cc-content google-sans-regular text-center">
                    Modern tools to help you build experiences that people love across every Android device.
                </p>
            </div>
            
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="featured-cards bg-white rounded-4 px-5 py-3 my-3">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <img src="https://developers.google.com/static/focus/images/makersuite.png" alt="" srcset=""  class="m-auto py-3">
                    </div>
                </div>
                <p class="cc-title google-sans-bold text-center fw-bold">
                    MakerSuite
                </p>
                <p class="cc-content google-sans-regular text-center">
                    Modern tools to help you build experiences that people love across every Android device.
                </p>
            </div>
            
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="featured-cards bg-white rounded-4 px-5 py-3 my-3">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <img src="https://developers.google.com/static/focus/images/makersuite.png" alt="" srcset=""  class="m-auto py-3">
                    </div>
                </div>
                <p class="cc-title google-sans-bold text-center fw-bold">
                    Web
                </p>
                <p class="cc-content google-sans-regular text-center">
                    Modern tools to help you build experiences that people love across every Android device.
                </p>
            </div>
            
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="featured-cards bg-white rounded-4 px-5 py-3 my-3">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <img src="https://developers.google.com/static/site-assets/images/products/tensorflow-logo-196.png" alt="" srcset=""  class="m-auto py-3">
                    </div>
                </div>
                <p class="cc-title google-sans-bold text-center fw-bold">
                    TensorFlow
                </p>
                <p class="cc-content google-sans-regular text-center">
                    Modern tools to help you build experiences that people love across every Android device.
                </p>
            </div>
            
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="featured-cards bg-white rounded-4 px-5 py-3 my-3">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <img src="https://developers.google.com/static/homepage-assets/images/chromeos-logo.svg" alt="" srcset=""  class="m-auto py-3">
                    </div>
                </div>
                <p class="cc-title google-sans-bold text-center fw-bold">
                    Google Chrome
                </p>
                <p class="cc-content google-sans-regular text-center">
                    Modern tools to help you build experiences that people love across every Android device.
                </p>
            </div>
            
            </div>
        </div>
    </div>
</section>
