<section class="date-time-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">
                <div class="date-container">
                   
                    <p class="counter-title">{{ countdown.days }}</p>
                    <p class="counter-content" style="color: #4285f4;">Days</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">
                <div class="date-container">
                   
                    <p class="counter-title">{{ countdown.hours }}</p>
                    <p class="counter-content" style="color: #ea4335;">Hours</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">
                <div class="date-container">
                    
                    <p class="counter-title">{{ countdown.minutes }}</p>
                    <p class="counter-content" style="color: #f9ab00;">Minutes</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">
                <div class="date-container">
                    
                    <p class="counter-title">{{ countdown.seconds }}</p>
                    <p class="counter-content" style="color: #34a853;">Seconds</p>
                </div>
            </div>
        </div>
    </div>
</section>