<app-event-page-header></app-event-page-header>
<section class="coming-soon py-5 bg-light my-auto">
    <div class="container-fluid my-auto">
        <div class="row my-5">
            <div class="col-12 text-center">
                <p class="section-title google-sans-bold text-dim my-auto text-center">
                    Coming Soon
                </p>
                <p class="section-content google-sans-regular">
                    Stay tuned for more updates
                </p>
                <a target="_blank" href="https://gdg.community.dev/gdg-chandigarh/" class="btn btn-sm btn-primary google-sans-regular">Join Us</a>
            </div>
        </div>
        <div class="container rounded-3 bg-primary-subtle text-center p-4 my-5">
            <div class="row">
                <p class="section-title-new google-sans-bold">Keep in touch with GDG Chandigarh for the latest announcements</p>
                <p class="section-content google-sans-regular">Stake out #GDGChandigarh for the latest updates and news.</p>
                <p class="socio-icons google-sans-regular text-grey"><i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-linkedin"></i>
                    <i class="fa fa-instagram"></i></p>
            </div>
        </div>
    </div>
</section>
