<div class="container my-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="gaping bg-white stay-updated">
                <div class="row">
                    <h2 class="section-title">
                        Stay updated on the products you love
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda incidunt fuga, architecto
                        reprehenderit corporis necessitatibus! Eius quae voluptate provident iusto laudantium eum
                        reprehenderit,
                        officia aperiam odio et explicabo tenetur cupiditate.
                    </p>
                </div>
                <div class="row google-icons-section">
                    <div class="col-1">
                        <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="" srcset=""
                            class="logo-container" width="100%">
                    </div>
                    <div class="col-1">
                        <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="" srcset=""
                            class="logo-container" width="100%">
                    </div>
                    <div class="col-1">
                        <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="" srcset=""
                            class="logo-container" width="100%">
                    </div>
                    <div class="col-1">
                        <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="" srcset=""
                            class="logo-container" width="100%">
                    </div>
                    <div class="col-1">
                        <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="" srcset=""
                            class="logo-container" width="100%">
                    </div>
                    <div class="col-1">
                        <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="" srcset=""
                            class="logo-container" width="100%">
                    </div>
                    <div class="col-1">
                        <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="" srcset=""
                            class="logo-container" width="100%">
                    </div>
                    <div class="col-1">
                        <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="" srcset=""
                            class="logo-container" width="100%">
                    </div>
                    <div class="col-1">
                        <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="" srcset=""
                            class="logo-container" width="100%">
                    </div>
                    <div class="col-1">
                        <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="" srcset=""
                            class="logo-container" width="100%">
                    </div>
                    <div class="col-1">
                        <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="" srcset=""
                            class="logo-container" width="100%">
                    </div>
                    <div class="col-1">
                        <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="" srcset=""
                            class="logo-container" width="100%">
                    </div>
                    <div class="col-1">
                        <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="" srcset=""
                            class="logo-container" width="100%">
                    </div>
                    <div class="col-1">
                        <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="" srcset=""
                            class="logo-container" width="100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 join-us">
            <h2 class="join-title">
                Join the Community of Developers
            </h2>
            <p class="join-para">
                GDG CHANDIGARH
            </p>
            <button class="btn btn-primary">
                Join Now
            </button>
        </div>
    </div>
</div>
