<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="https://res.cloudinary.com/startup-grind/image/upload/dpr_2.0,fl_sanitize/v1/gcs/platform-data-goog/contentbuilder/logo_dark_QmPdj9K.svg" class="nav-logo" alt="" srcset=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item google-sans-regular">
            <a class="nav-link active" routerLink="/gdg-chandigarh/about" aria-current="page" href="#">About GDG</a>
          </li> -->
          <li class="nav-item google-sans-regular">
            <a class="nav-link" routerLink="/gdg-chandigarh/upcoming-events">Upcoming Events</a>
          </li>
          <li class="nav-item google-sans-regular">
            <a class="nav-link" routerLink="/gdg-chandigarh/organizers" href="#" tabindex="-1" aria-disabled="true">Organizers</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
