/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'google-sans-regular';
    src: url(assets/fonts/GoogleSansDisplay-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'google-sans-bold';
    src: url(assets/fonts/GoogleSansDisplay-Bold.ttf);
    font-display: swap;
}

.google-sans-regular{
    font-family: google-sans-regular;
}

.google-sans-bold{
    font-family: google-sans-bold;
}


body{
    font-family: "google-sans-regular";
    background-color: rgb(243, 246, 251) !important;
}

.section-subheading{
    font-size: 1.1em;
    color: #202124;
}
p{
    font-size: 1.1em;
}
.section-title{
    font-size: 44px;
}
h1{
    font-size: 36px;
    font-size: 44px !important;
    text-transform: none;
    font-weight: 400 !important;
}
.btn-primary{
    border-radius: 50px !important;
}
.section-title{
    color: #212121!important;
    caret-color: #212121!important;
    font-size: 200%;
    line-height: 40px;
}
.section-content{
    font-size: 16px;
    color: rgba(0,0,0,.87);
}
a {
    background-color: transparent;
}
.text-grey{
    color: rgba(0,0,0,.6)!important;
}
.text-dim{
    color: rgba(0,0,0,0.87)!important;
}
