/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Regular.woff2') format('woff2'),
         url('../assets/fonts/OpenSans-Regular.woff') format('woff');
         
    font-weight: normal;
    font-style: normal;
  }

  *{
    font-family: 'Open Sans' , 'Google Sans', sans-serif;
    
  }
body{
    font-family: 'my_custom_font', 'GoogleSansDisplay-Regular' ;
    font-family: 'my_custom_font', 'GoogleSansDisplay-Bold' ;
    background-color: rgb(243, 246, 251) !important;
}
.section-subheading{
    font-size: 1.1em;
    color: #202124;
}
p{
    font-size: 1.1em;
}
.section-title{
    font-size: 44px;
    font-weight: 400;
}
h1{
    font-size: 36px;
    font-size: 44px !important;
    text-transform: none;
    font-weight: 400 !important;
}
