<section class="py-5 google-sans-regular">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <p class="section-title google-sans-bold">Call for Speakers</p>
        <p class="section-content">
          If you are passionate about your work and want to share your
          experience with the biggest tech audience in Chandigarh, you knocked
          on the right door.
        </p>
        <a
          href="https://sessionize.com/devfest-chandigarh-2024/"
          target="_blank"
          style="text-decoration: none"
          ><button class="btn btn-sm btn-primary">
            Submit Your Proposal
          </button></a
        >
      </div>
      <div class="col-lg-6 d-flex justify-content-center align-items-center">
        <img
          src="../../../../assets/call-for-speaker.jpg"
          alt=""
          srcset=""
          width="100%"
        />
      </div>
    </div>
  </div>
</section>
