<div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card-content">
        <div class="card-container d-flex justify-content-center">
            <img src="https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_3,f_auto,g_center,h_175,q_auto:good,w_175/v1/gcs/platform-data-goog/events/star%20keras%20flat_IEuAtQd.jpg"
                alt="" class="card-image p-2">
        </div>
        <div class="card-date">
            <p>SEP 02, 2023</p>
        </div>
        <div class="card-type">
            <p>Tech-Talk/ Speaker Session</p>
        </div>
        <div class="card-title">
            <p>Keras Community Day
                <br>
                Chandigarh
                <br>
                GDG Chandigarh
            </p>
        </div>
    </div>
</div>