
<app-event-page-header></app-event-page-header>
<section class="event-agenda py-5 bg-light google-sans-regular">
    <div class="container py-3">

        <app-coming-soon></app-coming-soon>
        <!-- <div class="row">
            <div class="col-lg-3 text-center">
                <p class="section-title google-sans-bold mt-lg-5 mt-md-3 pt-3 yellow-underline">
                    Agenda
                </p>
            </div>
            <div class="col-lg-9">
                <div *ngFor="let item of agenda" class="row">
                    <div class="agenda-row my-3 py-3">
                        <p class="agenda-time google-sans-bold">{{item?.startTime }} - {{item?.endTime}}</p>
                        <p class="agenda-title google-sans-bold ">
                            {{item?.eventTitle}}
                        </p>
                        <p class="agenda-speaker">
                            {{item?.eventSpeaker}}
                        </p>
                    </div>
                </div>
                
            </div>
        </div> -->
    </div>
</section>