.agenda-time{
    color: #f9ab00;
    font-size: 110%;
}
.section-title{
    font-size: 250%;
}
.agenda-title{
    font-size: 175%;
    padding-left: 0px !important;
}
.agenda-speaker{
    color: #5f6368;
    font-size: 100%;
    text-transform: uppercase;
}
.agenda-row p{
    margin-bottom: 8px !important;
}
.yellow-underline{
            width: fit-content;
            padding: 10px; /* Add padding to create space for the rounded ends */
            background-image: linear-gradient(to right, transparent 10%, #f9ab00 20%, #f9ab00 80%, transparent 90%);
            background-position: bottom center; /* Center the gradient at the bottom */
            background-size: 100% 1px; /* Adjust the thickness of the border as needed */
            background-repeat: no-repeat;
}
@media only screen and (max-width:768px) {
    .agenda-title{
        font-size: 125%;
    }
    .section-title{
        font-size: 150%;
        padding-left: 0px !important;
    }
}