.date{
    border-bottom:  #1976d2 solid 3px;
    width: fit-content;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
.date-of-event{
    border-radius: 15px;
}
.time-table{
    border-radius: 20px;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
}
.date-and-time p{
    margin-bottom: 0px !important;
    text-align: right;
}
.endtime{
    font-size: 75%;
}
.time-zone{
    font-size: 90%;
}
.left-section{
    border-right: solid 1px #00000029;
    border-bottom: solid 1px #00000029;
}
.right-section{
    border-bottom: solid 1px #00000029;
    text-align-last: left;
}
.trainer-capsule{
    border-radius: 20px;
    border:  solid 1px #00000029;
    padding-left: 0%!important;
 
}
.topic-capsule{
    border-radius: 20px;
    border:  solid 1px #00000029;
    width: auto !important;
    background-color: #00000010;
    margin-left: 1%;

}
.trainer-capsule img{
    border-radius: 100%;
    width: 25%;
    
}
.trainer-capsule span{
    font-size: 80%;
    margin-left: auto;
    margin-right: auto;
}

.topic-capsule span{
    font-size: 80%;
    padding: 2px;
}
@media only screen and (max-width:425px) {
    .col-sm-4 {
        flex: 0 0 auto;
        width: 33%;
    }
}
@media only screen  and (max-width:425px){
    .container{
        max-width: 90%;
        padding: 5%;
    }
}