
.description{
    font-size: 16px !important;
    font-weight: 400;
    color: #202124;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

}
.sec-head{
    font-size: 21px;
    font-weight: 700;
    color: #202124;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.card-image {
    border-radius: 100%;
    width: 80%;
    margin: auto;
}

.card-content {
    width: 85%;
    margin: auto;
    text-align: center;
    height: 23%;
}
@media only screen and (max-width:768px) and (min-width:459px){
    .card-content {
            width: 85%;
            margin: auto;
            text-align: center;
            height: 19%;
        }
}
.card-date {
    font-size: 16px;
    margin-bottom: 2px;
    min-height: 15px;
    text-transform: uppercase;
}

.card-type {
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #333;
}

.card-title,
.card-location,
.card-org {
    line-height: 1.4;
    font-size: 18px;
}
.panel {
    margin-bottom: 21px;
    /* background-color: #fff; */
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-body .date {
    font-size: 10px;
}

.event .panel-body .date {
    font-size: 13px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.rounded-img{
    border-radius: 100%;
}
.general-card{
   
    border-radius: 100% !important;
    overflow: hidden;

    box-shadow: none;
}
.chapter .event {
    line-height: 1.7;
}
/* avatar.component.css */
.avatar-container {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .avatar-img {
    width: 50px;
    height: 50px;
  }
  .modal-header{
    padding: 0px !important;
  }
  .text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  button{
    width: fit-content
  }