<section id="upcoming-events" class="upcoming-events py-5 google-sans-regular">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <p class="section-title google-sans-bold mb-5">
          Upcoming Events
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-content ">
        <p class="section-title google-sans-bold">
          Join Us at
          <br> DevFest Chandigarh
        </p>
        <p class="section-content">
          An annual event hosted by the Google Developers Group across the world to bring the technology closer to the
          developers. It is an all day developer conference where we aim to focus on multiple technologies through
          lightning talks, sessions, workshops, etc.
        </p>
        <button routerLink="/events" class="btn btn-primary btn-sm" >Know
          More</button>
      </div>
      <div class="col-lg-6">
        <img src="https://developers.google.com/static/events/images/devfest-2023.webp" alt="" srcset="" width="100%">
      </div>
    </div>
  </div>
</section>