<section class="find-event py-5 google-sans-regular">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="https://res.cloudinary.com/startup-grind/image/upload/c_limit,dpr_2,f_auto,g_center,h_1440,q_auto:good,w_2048/v1/gcs/platform-data-goog/event_wrapup/DSC05543.JPG" alt=""
                    srcset="" width="100%" class="rounded-3 mb-4">
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <div class="content container">
                    <img src="https://developers.google.com/static/homepage-assets/images/find-community-eyebrow.svg" alt="" srcset="" class="mb-3">
                    <p class="section-title mb-3 google-sans-bold">
                        Find an event
                    </p>
                    <p class="section-content mb-3">
                        Grow your knowledge through online and in-person developer events.
                    </p>
                    <button class="btn-outline-primary btn btn-sm px-4">View Events</button>
                </div>
            </div>
        </div>
    </div>
</section>
